/.idea/
.DS_Store
/src/cmake-build-debug/
/src/cmake-build-release/
/cmake-build-*/
/build/
/.xmake/
/CGraph.srctrlbm
/CGraph.srctrldb
/CGraph.srctrlprj
/.scannerwork/
.vscode/
/.cache/
/bazel-*
/MODULE.bazel
/MODULE.bazel.lock
/python/build
/python/dist
/python/PyCGraph.egg-info
__pycache__
